@inject IAuthenticationSchemeProvider SchemeProvider
@using Microsoft.AspNetCore.Authentication
@{
    ViewBag.Title = "Sign in";
}

<div class="row">
    <div class="col-md-12">
        <h3>Login with social providers</h3>
        <h4>Select from the list of available social providers</h4>
        <div class="btn-group" role="group">
            @foreach (var provider in await SchemeProvider.GetRequestHandlerSchemesAsync())
            {
                <a class="btn btn-lg btn-default" 
                   asp-route-returnUrl="@Context.Request.Query["returnUrl"]"
                   asp-route-provider="@provider.Name" 
                   asp-action="SignIn"><i class="fa fa-@provider.Name.ToLower()"></i> @provider.Name</a>
            }
        </div>
    </div>
</div>